@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
a{
    color: #FFAE6D;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
fieldset{
    border: none;
}
input[type="text"],
input[type="email"],
input[type="password"], 
button[type="submit"]{
    min-width: 100%;
    margin: .3rem 0;
}
button[type="submit"]{
    margin-top: .6rem;
    padding: .2rem;
    background-color: #fff;
    border: 1px thin;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.left-container{
    width: 100%;
    background: url('../assets//img/MoodyCheeseboard.jpg'); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 200px;
    background-attachment: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-container img{
    width: 24px;
    margin-right: .5rem;
}
.left-container_title{
    display: flex;
    justify-content:center;
    align-items: center;
    color: #fff;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
.right-container{
    background-color: rgb(255, 255, 255);
}
.right-container > p{
    padding: 0 1rem;
    text-align: justify;
}
.right-container > p:last-child{
    text-align: center;
}
.right-container > p:nth-child(2){
    text-align: end;
}
.form-container{
    background-color: #FFAE6D;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}
.form-container legend{
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding-bottom: 1rem;
}
.input-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}



@media (min-width:481px) {
    form{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    fieldset{
        display: flex;
        flex-direction: row;
    }
    button[type="submit"]{
        padding: .3rem 1rem;
    }
    
}
@media (min-width:769px) { 
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    button[type="submit"]{
        width: 175px;
    }
    .left-container{
        height: 100vh;
        width: 40%;
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center center;
        background-attachment: cover;
    }
    .right-container{
        width: 60%;
        height: 100vh;
    }
    .right-container>p:first-child{
        margin-top: 5rem;
    }
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
    }
    
}
@media (min-width:1025px) { 
    .left-container_title{
        font-size: 1.5rem;
    } 
    .left-container img{
        width: 36px;
        margin-right: .5rem;
    }
    .container{
        margin: 0 5rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    button[type="submit"]{
        width: 200px;
        text-align: center;
    }
}
